@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-url { display: inline-block; max-width: 40ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle; }